<div class="row">
  <div class="col-2" *ngFor="let photo of member.photos">
    <img src="{{photo.url}}" alt="{{photo.url}}" class="img-thumbnail p-1">
    <div class="text-center">
      <button [disabled]="photo.isMain" (click)="setMainPhoto(photo)"
        [ngClass]='photo.isMain ? "btn-success active" : "btn-outline-success"' class="btn btn-sm">Primary</button>
      <button class="btn btn-sm btn-danger" [disabled]="photo.isMain" (click)="deletePhoto(photo.id) ">
        <i class="fa fa-trash"></i></button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-3">

    <div class="row-md-3">

      <h3>Add Photos</h3>
      <div class="border border-dark">
        <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropzoneOver}" (fileOver)="fileOverBase($event)"
          [uploader]="uploader" class="well bg-faded p-3 text-center drop-zone">
          <i class="fa fa-upload fa-3x"></i>
          Drop zone
        </div>
      </div>

      <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br />
    </div>

      <table class="table">
        <thead>
          <tr>
            <th >Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td nowrap>
              <button type="button" class="btn btn-success btn-xs" (click)="item.upload()">
                Upload
              </button>
              <button type="button" class="btn btn-success btn-xs" (click)="item.cancel()">
                 Cancel
              </button>
              <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                 Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
